@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

/* @theme for colors, typography, etc */
@theme {
  --color-main-background: #161922;
  --color-main-btn: #352878;
  --color-main-btn-hover: #413192;
  --color-secondary-btn: #4f5155;
  --color-secondary-btn-hover: #3e4148;
  --color-paragraph: #9fa1a8;
  --color-footer: #1d2230;

  --font-main: "Rajdhani", sans-serif;
  --font-second: "Roboto", sans-serif;
}

/* Permite rolar, mas esconde a barra de rolagem */
html, body {
  height: 100%;
  overflow: auto;
  scrollbar-width: none; /* Firefox */

  /* Testes */
  /* background-color: #1d2230; */
}

body::-webkit-scrollbar, html::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}